<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toxin</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__main">
                    <div class="header__logo">
                        <a href=""><img src="../styles/images/Logo.svg" alt=""></a>
                    </div>
                    <nav class="header__nav">
                        <ul class="header__menu">
                            <li><a class="header__menulink" href="">О нас</a></li>
                            <li><a class="header__menulink" href="">Услуги</a></li>
                            <li><a class="header__menulink icon" href="">Вакансии</a></li>
                            <li><a class="header__menulink" href="">Новости</a></li>
                            <li><a class="header__menulink" href="">Соглашения</a></li>
                            <li><a href="" class="header__login icon">Войти</a></li>
                            <li><a href="" class="header__reg">Зарегистрироваться</a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section class="section">
            <div class="container">
                <div class="section__numbers">
                    <form action="" class="section__searchfilter">
                        <label class="section__darrival" for="darrival">
                            Даты пребывания в отеле
                            <input placeholder="19 авг - 23 авг" id="darrival" class="section__idarrival" type="text">
                        </label>
                        <label class="section__guests" for="guests">
                            Гости
                            <input placeholder="3 гостя, 1 младенец" id="guests" class="section__iguests" type="text">
                        </label>
                        <label class="section__rangePrice" for="rangePrice">
                            Диапазон цены
                            <span class="section__irangePrisescount">5 000₽ - 10 000₽</span>
                            <input id="rangePrice" class="section__irangePrice" type="range"><span class="section__irangePrices">Стоимость за сутки пребывания в номере</span>
                        </label>
                        <div class="section__homeRules">
                            Правила дома
                            <label class="section__smoke" for="smoke">
                            <input id="smoke" class="section__ismoke" type="checkbox"><span class="section__ismokes">Можно курить</span>
                            </label>
                            <label class="section__pet" for="pet">
                            <input id="pet" class="section__ipet" type="checkbox"><span class="section__ipets">Можно с питомцами</span>
                            </label>
                            <label class="section__invite" for="invite">
                            <input id="invite" class="section__iinvite" type="checkbox"><span class="section__iinvites">Можно пригласить гостей<br>(до 10 человек)</span>
                            </label>
                        </div>
                        <div class="section__availability">
                            Доступность
                            <label class="section__hall" for="hall">
                            <input id="hall" class="section__ihall" type="checkbox"><span class="section__ihallm">Широкий коридор</span><span class="section__ihalls">Ширина коридоров в номере<br> не менее 91 см.</span>
                            </label>
                            <label class="section__invalid" for="invalid">
                            <input id="invalid" class="section__iinvalid" type="checkbox"><span class="section__iinvalidm">Помощник для инвалидов</span><span class="section__iinvalids">На 1 этаже вас встретит специалист<br>  и проводит до номера.</span>
                            </label>
                        </div>
                        <label class="section__comfort" for="comfort">Удобства номера
                            <select name="" id="comfort" class="section__scomfort">
                                <option value="">2 спальни 2 кровати</option>
                            </select>
                        </label>
                        <div class="section__morecomfort">
                            Дополнительные удобства
                            <label class="section__breakfast" for="breakfast">
                            <input id="breakfast" class="section__ibreakfast" type="checkbox"><span class="section__ibreakfasts">Завтрак</span>
                            </label>
                            <label class="section__writetable" for="writetable">
                            <input id="writetable" class="section__iwritetable" type="checkbox"><span class="section__iwritetables">Письменный стол</span>
                            </label>
                            <label class="section__chair" for="chair">
                            <input id="chair" class="section__ichair" type="checkbox"><span class="section__ichairs">Стул для кормления</span>
                            </label>
                            <label class="section__bed" for="bed">
                            <input id="bed" class="section__ibed" type="checkbox"><span class="section__ibeds">Кроватка</span>
                            </label>
                            <label class="section__tv" for="tv">
                            <input id="tv" class="section__itv" type="checkbox"><span class="section__itvs">Телевизор</span>
                            </label>
                            <label class="section__shampoo" for="shampoo">
                            <input id="shampoo" class="section__ishampoo" type="checkbox"><span class="section__ishampoos">Шампунь</span>
                            </label>
                        </div>
                    </form>
                    <div class="section__cardnumbers">
                        <h2 class="section__cardnumberstitle">Номера, которые мы для вас подобрали</h2>
                        <div class="section__gridcontainer">
                            <div class="section__cardhotel"> 
                                <img class="section__numberphoto" src="../styles/images/image.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 888 <span class="section__lux">люкс</span></p>
                                <p class="section__pricelux">9 990₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">145 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image4.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 840</p>
                                <p class="section__price">9 900₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">65 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image5.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 980 <span class="section__lux">люкс</span></p>
                                <p class="section__pricelux">8 500₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">35 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image6.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 856</p>
                                <p class="section__price">7 300₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">19 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 7.1.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 740</p>
                                <p class="section__price">6 000₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">44 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 7.2.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 982</p>
                                <p class="section__price">5 800₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">56 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 7.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 678</p>
                                <p class="section__price">5 500₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">45 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 8.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 450</p>
                                <p class="section__price">5 300₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">39 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 9.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 350</p>
                                <p class="section__price">5 000₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">77 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 10.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 666</p>
                                <p class="section__price">5 000₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">25 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 11.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 444</p>
                                <p class="section__price">5 000₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">15 <span class="section__revs">Отзывов</span></p>
                            </div>
                            <div class="section__cardhotel">
                                <img class="section__numberphoto" src="../styles/images/image 12.png" alt="">
                                <span class="section__circlewhite"></span>
                                <span class="section__circle1"></span>
                                <span class="section__circle2"></span>
                                <span class="section__circle3"></span>
                                <p class="section__number">№ 352</p>
                                <p class="section__price">5 000₽ <span class="section__day">в сутки</span></p>
                                <hr class="section__cardline">
                                <p class="section__raiting">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                    <img class="section__star" src="../styles/images/star.png" alt="">
                                </p>
                                <p class="section__reviews">55 <span class="section__revs">Отзывов</span></p>
                            </div>
                        </div>
                        <div class="section__list">
                            <div class="section__page"><a class="section__onepage" href="">1</a> 2 3 ... 15 
                               <a href=""><img class="section__nextpagearrow" src="../styles/images/nextpagearrow.png" alt=""></a> 
                            </div>
                            <div class="section__legend">1 – 12 из 100+ вариантов аренды</div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

         <footer class="footer">
            <div class="container">
                <div class="footer__topinfo">
                    <div class="footer__column1">
                        <div class="footer__logo">
                            <a href=""><img src="../styles/images/Logo.svg" alt=""></a>
                        </div>
                        <p class="footer__text">
                            Бронирование номеров в лучшем<br>отеле 2019 года по версии<br>ассоциации «Отельные взгляды»
                        </p>
                    </div>
                    <div class="footer__column2">
                        <p class="footer__logolist">навигация</p>
                        <ul class="footer__menu">
                            <li><a href="" class="footer__menulink">О нас</a></li>
                            <li><a href="" class="footer__menulink">Новости</a></li>
                            <li><a href="" class="footer__menulink">Служба поддержки</a></li>
                            <li><a href="" class="footer__menulink">Услуги</a></li>
                        </ul>
                    </div>
                    <div class="footer__column3">
                        <p class="footer__logolist">о нас</p>
                        <ul class="footer__menu">
                            <li><a href="" class="footer__menulink">О сервисе</a></li>
                            <li><a href="" class="footer__menulink">Наша команда</a></li>
                            <li><a href="" class="footer__menulink">Вакансии</a></li>
                            <li><a href="" class="footer__menulink">Инвесторы</a></li>
                        </ul>
                    </div>
                    <div class="footer__column4">
                        <p class="footer__logolist">служба поддержки</p>
                        <ul class="footer__menu">
                            <li><a href="" class="footer__menulink">Соглашения</a></li>
                            <li><a href="" class="footer__menulink">Сообщества</a></li>
                            <li><a href="" class="footer__menulink">Связь с нами</a></li>
                        </ul>
                    </div>
                    <div class="footer__column5">
                        <p class="footer__logolist">Подписка</p>
                        <p class="footer__text">Получайте специальные<br> предложения и новости сервиса</p>
                        <form action="" class="footer__send">
                            <label for="e-mail">
                            <input type="email" placeholder="Email" id="e-mail" class="footer__e-mail">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="footer__bottominfo">
                    <p class="footer__copyright">Copyright &copy; 2018 Toxin отель. Все права зачищены.</p>
                    <p class="footer__icon">
                       <a class="footer__iconlink" href=""><img src="styles/images/twiter.png" alt=""></a>
                       <a class="footer__iconlink" href=""><img src="styles/images/facebook.png" alt=""></a>
                       <a class="footer__iconlink" href=""><img src="styles/images/instagram.png" alt=""></a>
                    </p>
                </div>
            </div>
        </footer> 
    </div>
</body>

</html>