doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Войти
    .wrapper
       include ../../pug/includes/modules/header.pug
       section.sectionlogin
         form(action="").sectionlogin__loginform
           h2.sectionlogin__logintitle Войти
           label(for="usertitle").sectionlogin__usertitle
             input(type="text", placeholder="Email", id="usertitle").sectionlogin__iusertitle
           label(for="pass").sectionlogin__pass
             input(type="text", placeholder="Пароль", id="pass").sectionlogin__ipass
           button.sectionlogin__signin  войти
           p.sectionlogin__noaccaunt Нет аккаунта на Toxin? 
           button.sectionlogin__create  создать
       include ../../pug/includes/modules/footer.pug     
    body 