@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";
@import "../utils/mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.footer {
  margin-top: 106px;

  &__topinfo {
    @include flexbox();
    .footer__column1 {
      margin-right: 50px;
      .footer__text {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third); 
        line-height: 24px;
        margin: 20px 0 0 0;
      }
    }
    .footer__column2 {
      margin-right: 57px;
      .footer__logolist {
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
      }
      .footer__menulink {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-half);
        line-height: 17px;
        display: inline-block;
        margin: 25px 0 0 0;
      }
    }
    .footer__column3 {
      margin-right: 95px;
      .footer__logolist {
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
      }
      .footer__menulink {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-half);
        line-height: 17px;
        display: inline-block;
        margin: 25px 0 0 0;
      }
    }
    .footer__column4 {
      margin-right: 70px;
      .footer__logolist {
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
      }
      .footer__menulink {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-half);
        line-height: 17px;
        display: inline-block;
        margin: 25px 0 0 0;
      }
    }
    .footer__column5 {
      margin-right: 0;
      .footer__text {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
        line-height: 24px;
        margin: 20px 0 0 0;
      }
      .footer__logolist {
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold); 
        text-transform: uppercase;
      }
      .footer__send {
        position: relative;
        height: 100px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 6px;
          margin: auto 0;
          width: 25px;
          height: 25px;
          background: url("../../img/arrow_forward.png") no-repeat; //CSS JAVACSRIPT 
          background-size: cover;
        }
        .footer__e-mail {
          margin: 26px 0 0 0;
          border: 1px solid $light-black-transparensy-fourth;
          border-radius: 4px;
          width: 270px;
          height: 46px;
          text-indent: 15px;
          @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth); 
        }
      }
    }
  }

  &__bottominfo {
    margin: 105px 0 0 0;
    @include flexbox();
    justify-content: space-between;
    height: 70px;
    padding-top: 26px;
    .footer__copyright {
      @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
      text-indent: -3px;
    }
    .footer__iconlink {
      margin: 0 0 0 20px;
    }
  }
}
