@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";
@import "../utils/mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;
   @media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.header {
  padding: 18px 0;
  box-shadow: 0px 10px 20px $light-black-transparensy-halfhalf;
  &__main {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    .header__menu {
      @include flexbox();
      .header__menulink {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-half); //CSS JAVASCRIPT //CSS JAVASCRIPT
        margin: 0 26px 0 0;
      }
      .header__login {
        @include fontw($mainBoldFont, $mainMiddle, $lilac, bold);
        text-transform: uppercase;
        border: 2px solid $lilac;
        border-radius: 22px;
        padding: 9px 20px 10px 20px;
        margin: 0 20px 0 0;
      }
      .header__reg {
        @include fontw($mainBoldFont, $mainSmallSize, $white-color, bold);
        text-transform: uppercase;
        background: linear-gradient(180deg, $lilac 0%, $blue 100%);
        border-radius: 22px;
        padding: 9px 20px 10px 20px;
      }
    }
  }

  /*&__menu .icon::before {
   content: "";
   background: url("../../img/expand_more.png") no-repeat; !!!!!!!!!!!JAVASCRIPT
   width: 17px;
   height: 17px;
   float: left;
   margin: 4px 22px -4px -22px;
 }*/
}
