@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";
@import "../utils/mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.main {
  background-image: url("../../img/image3.png");
  height: 830px;
  position: relative;
  &__searchnumber {
    padding: 40px 30px 30px 30px;
    position: absolute;
    top: 201px;
    left: 187px;
    height: 394px;
    width: 400px;
    background-color: $white-color;
    .main__title {
      @include fontw($mainBoldFont, 25.5px, $light-black, bold);
      margin-bottom: 21px;
    }
    .main__topinput {
      @include flexbox();
      justify-content: space-between;
      .main__arrival {
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
        .main__iarrival {
          @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
          @extend %smallInput;
          margin: 6px 0 0 0;
          background: url("../../img/expand_more.png") 90% 50% no-repeat; //CSS JAVASCRIPT
        }
      }
       .main__departure {
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
        .main__ideparture {
          @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
          @extend %smallInput; 
          margin: 6px 0 0 0;
        }
        .main__ideparture::-webkit-calendar-picker-indicator {
          background: url("../../img/expand_more.png") no-repeat; //CSS JAVASCRIPT
          background-position: 0px 5px;
        }
      }
    }
    .main__guestcount {
      @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
      text-transform: uppercase;
      display: block;
      margin: 20px 0 0 0;
      .main__sguestcount {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-half);
        @extend %bigSelect; 
        margin: 6px 0 0 0;
        background: url("../../img/expand_more.png") no-repeat right;  //CSS JAVASCRIPT
        background-position: 305px;
      }
    }
    .main__searchbutton {
      margin: 31px 0 0 0;
      @include fontw($mainBoldFont, $mainSmallSize,  $white-color, bold);  //CSS
      @extend %bigButton;
    }
  }
  &__legend {
    position: absolute;
    top: 764px;
    left: 1056px;
    @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
    text-indent: -40px;
    line-height: 24px;
  }
}
