@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";
@import "../utils/mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.sectionlogin {
  background: url("../../img/loginreg.png");
  height: 770px;
  position: relative;

  &__loginform {
    width: 380px;
    height: 358px;
    padding: 40px 30px;
    background-color: $white-color;
    position: absolute;
    left: 530px;
    top: 230px;
    box-shadow: 0px 0px 25px $almostblack;
    .sectionlogin__logintitle {
      @include fontw($mainBoldFont, 24px, $light-black, bold);
    }
    .sectionlogin__iusertitle {
      @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth);
      @extend %middleInput;
      margin: 20px 0 0 0;
    }
    .sectionlogin__ipass {
      @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth);
      @extend %middleInput;
      margin: 10px 0 0 0;
    }
    .sectionlogin__signin {
      @extend %middleButton; // CSS
      margin: 20px 0 0 0;
    }
    .sectionlogin__noaccaunt {
      display: inline-block;
      margin: 0 47px 0 0;
      @include font($mainRegularFont, $mainBigSize, $black-color);
    }
    .sectionlogin__create {
      @extend %smallButton;
      margin: 30px 0 0 0;
    }
  }
}
