@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";
@import "../utils/mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.sectionregistration {
  background: url("../../img/loginreg.png");
  height: 770px;
  position: relative;

  &__registrationform {
    width: 380px;
    height: 646px;
    padding: 40px 30px;
    background-color: $white-color;
    position: absolute;
    left: 530px;
    top: 19px;
    box-shadow: 0px 0px 25px $almostblack;
    .sectionregistration__registrationtitle {
      @include fontw($mainBoldFont, 24px, $light-black, bold);
      .sectionregistration__iname {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth);
        @extend %middleInput;
        margin: 20px 0 0 0;
      }
      .sectionregistration__isurname {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth);
        @extend %middleInput;
        margin: 20px 0 0 0;
      }
      .sectionregistration__imale {
        display: inline-block;
        margin: 10.5px 0 0 0;       // CSS JAVASCRIPT
      }  
      .sectionregistration__smale {
        display: inline-block;
        margin: 0 20px 0 14px;
        @include fontw($mainRegularFont, 14px, $light-black-transparensy-third, normal);
        vertical-align: middle;
      }
      .sectionregistration__sfemale {
        display: inline-block;
        margin: 0 0 0 10px;
        @include fontw($mainRegularFont, 14px, $light-black-transparensy-third, 400);
        vertical-align: middle;   // CSS JAVASCRIPT
      }
      .sectionregistration__birth {
        display: block;
        margin: 19.5px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
      }
      .sectionregistration__ibirth {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth);
        @extend %middleInput;
        margin: 5px 0 0 0;   // CSS JAVASCRIPT
      }
      .sectionregistration__mail {
        display: block;
        margin: 20px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
      }
      .sectionregistration__imail {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth);
        @extend %middleInput;
        margin: 5px 0 0 0;

      }
      .sectionregistration__ipasslog {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-fourth);
        @extend %middleInput;
        margin: 10px 0 0 0;
      }
      .sectionregistration__slider {
        display: inline-block;
        margin: 10px 10px 0 0;  //CSS JAVASCRIPT
      }
      .sectionregistration__specialoffers {
        display: inline-block;
        margin: 13px 0 0 0;
        @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-third, normal);
      }
      .sectionregistration__registrlog {
        @extend %middleButton;
        margin: 20px 0 0 0; //CSS
        @include fontw($mainBoldFont, $mainSmallSize, $white-color, bold);
      }
      .sectionregistration__haceanaccount {
        display: inline-block;
        margin: 0 22px 0 0;
        @include fontw($mainRegularFont, $mainBigSize, $black-color, normal);
      }
      .sectionregistration__signinreg {
        @extend %smallButton;
        margin: 30px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $lilac, bold);
      }
    }
  }
}
