@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.sectionregistration {
  background: url("../../img/loginreg.png");
  height: 770px;
  position: relative;

  &__registrationform {
    width: 380px;
    height: 646px;
    padding: 40px 30px;
    background-color: $white-color;
    position: absolute;
    left: 530px;
    top: 19px;
    box-shadow: 0px 0px 25px $almostblack;
    .sectionregistration__registrationtitle {
      font-family: $mainBoldFont;
      color: $light-black;
      font-weight: bold;
      font-size: 24px;
      .sectionregistration__iname {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-fourth;
        text-indent: 15px;
        display: block;
        margin: 20px 0 0 0;
        border: 1px solid $light-black-transparensy-fourth;
        border-radius: 4px;
        width: 320px;
        height: 44px;
      }
      .sectionregistration__isurname {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-fourth;
        text-indent: 15px;
        display: block;
        margin: 20px 0 0 0;
        border: 1px solid $light-black-transparensy-fourth;
        border-radius: 4px;
        width: 320px;
        height: 44px;
      }
      .sectionregistration__imale {
        display: inline-block;
        margin: 10.5px 0 0 0;
      }
      .sectionregistration__smale {
        display: inline-block;
        margin: 0 20px 0 14px;
        font-family: $mainRegularFont;
        font-size: 14px;
        font-weight: normal;
        color: $light-black-transparensy-third;
        vertical-align: middle;
      }
      .sectionregistration__sfemale {
        display: inline-block;
        margin: 0 0 0 10px;
        font-family: $mainRegularFont;
        font-size: 14px;
        font-weight: 400;
        color: $light-black-transparensy-third;
        vertical-align: middle;
      }
      .sectionregistration__birth {
        display: block;
        margin: 19.5px 0 0 0;
        font-family: $mainBoldFont;
        color: $light-black;
        font-weight: bold;
        font-size: $mainSmallSize;
        text-transform: uppercase;
      }
      .sectionregistration__ibirth {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-fourth;
        text-indent: 15px;
        display: block;
        margin: 5px 0 0 0;
        border: 1px solid $light-black-transparensy-fourth;
        border-radius: 4px;
        width: 320px;
        height: 44px;
      }
      .sectionregistration__mail {
        display: block;
        margin: 20px 0 0 0;
        font-family: $mainBoldFont;
        color: $light-black;
        font-weight: bold;
        font-size: $mainSmallSize;
        text-transform: uppercase;
      }
      .sectionregistration__imail {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-fourth;
        text-indent: 15px;
        display: block;
        margin: 5px 0 0 0;
        border: 1px solid $light-black-transparensy-fourth;
        border-radius: 4px;
        width: 320px;
        height: 44px;
      }
      .sectionregistration__ipasslog {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-fourth;
        text-indent: 15px;
        display: block;
        margin: 10px 0 0 0;
        border: 1px solid $light-black-transparensy-fourth;
        border-radius: 4px;
        width: 320px;
        height: 44px;
      }
      .sectionregistration__slider {
        display: inline-block;
        margin: 10px 10px 0 0;
      }
      .sectionregistration__specialoffers {
        display: inline-block;
        margin: 13px 0 0 0;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        font-weight: normal;
        color: $light-black-transparensy-third;
      }
      .sectionregistration__registrlog {
        display: block;
        margin: 20px 0 0 0;
        padding: 14px 0 15px 0;
        width: 320px;
        height: 44px;
        background: url("../../img/arrow_forwardright.png") 95% 50% no-repeat,
          linear-gradient(180deg, $lilac 0%, $blue 100%);
        border-radius: 22px;
        font-family: $mainBoldFont;
        color: $white-color;
        font-weight: bold;
        font-size: $mainSmallSize;
        text-transform: uppercase;
        text-align: center;
      }
      .sectionregistration__haceanaccount {
        display: inline-block;
        margin: 0 22px 0 0;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        font-weight: normal;
        color: $black-color;
      }
      .sectionregistration__signinreg {
        display: inline-block;
        margin: 30px 0 0 0;
        padding: 13px 0 15px 0;
        width: 99px;
        height: 44px;
        border-radius: 22px;
        font-family: $mainBoldFont;
        color: $lilac;
        background: $white-color;
        border: 2px solid $lilac;
        font-weight: bold;
        font-size: $mainSmallSize;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
