@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";
@import "../utils/mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.sectionaboutimg {
  &__roomimage {
    @include flexbox();
  }
  .sectionaboutimg__roomimage3 {
    margin-top: -1px;
  }
}
.sectionabout {
  margin: 70px 0 0 0;

  &__flexbox {
    @include flexbox();
    justify-content: space-between;
    .sectionabout__inforoom {
      @include flexbox();
      justify-content: space-between;
      .sectionabout__info {
        @include fontw($mainBoldFont, 19px, $light-black, bold);
      }
      .sectionabout__comfort {
        display: inline-block;
        margin: 23px 0 0 10px;
        @include fontw($mainBoldFont, $mainBigSize, $light-black-transparensy-third, bold);
      }
      .sectionabout__smile {
        display: inline-block;
        margin: 23px 0 0 0;
      }
      .sectionabout__walls {
        margin: -14px 0 0 53px;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
      }
      .sectionabout__wallsline {
        margin: 25px 0 -15px 0;
        border-bottom: 1px dashed $light-black-transparensy-onetenth;
        background: $light-black-transparensy-onetenth;
        width: 280px;
      }
      .sectionabout__convenience {
        display: inline-block;
        margin: 41px 0 0 14px;
        @include fontw($mainBoldFont, $mainBigSize, $light-black-transparensy-third, bold);
      }
      .sectionabout__locationcity {
        display: inline-block;
        margin: 41px 0 0 0;
      }
      .sectionabout__bedroom {
        margin: -14px 0 0 53px;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
      }
      .sectionabout__bedroomline {
        margin: 25px 0 -15px 0;
        border-bottom: 1px dashed $light-black-transparensy-onetenth;
        background: $light-black-transparensy-onetenth;
        width: 280px;
      }
      .sectionabout__cosiness {
        display: inline-block;
        margin: 41px 0 0 14px;
        @include fontw($mainBoldFont, $mainBigSize, $light-black-transparensy-third, bold);
      }
      .sectionabout__whatshot {
        display: inline-block;
        margin: 41px 0 0 0;
      }
      .sectionabout__fireplace {
        margin: -14px 0 0 53px;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
      }
      .sectionabout__impression {
        @include fontw($mainBoldFont, 19px, $light-black, bold);
      }
      .sectionabout__voicesflex {
        display: flex;
        .sectionabout__voices {
          margin: 21px 0 0 0;
          @include fontw($mainBoldFont, 24px, $lilac, bold);
          border: 4px solid;
          border-radius: 50%;
          padding: 30px;
          text-align: center;  
          .sectionabout__voicescolor {
            font-family: $mainRegularFont;
            font-size: $mainSmallSize;
            vertical-align: top;  // CSS 
          }
        }
        .sectionabout__list {
          margin: 50px 0 0 30px;
          .sectionabout__sumptuously {
            @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
          }
          .sectionabout__well {
            margin: 10px 0 0 0;
            @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
          }
          .sectionabout__satisfactorily {
            margin: 10px 0 0 0;
            @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
          }
          .sectionabout__dissapointed {
            margin: 10px 0 0 0;
            @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third); // CSS 
          }
        }
      }
    }
    .sectionabout__revusers {
      margin: 30px 0 0 0;
      .sectionabout__reviews {
        display: inline-block;
        margin-right: 347px;
        @include fontw($mainBoldFont, 19px, $light-black, bold);
      }
      .sectionabout__reviewscount {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-half);
      }
      .sectionabout__murad {
        display: inline-block;
        margin: 10px 0 0 -20px;
      }
      .sectionabout__username1 {
        display: inline-block;
        margin: 23px 0 0 -15px;
        @include fontw($mainBoldFont, $mainBigSize, $light-black-transparensy-third, bold);
        .sectionabout__time {
          display: inline-block;
          margin: 15px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-third, normal);  // CSS JAVACRIPT
        }
      }
      .sectionabout__comment1 {
        display: inline-block;
        margin: 0 0 0 10px;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
        line-height: 24px;
      }

      .sectionabout__patricia {
        display: inline-block;
        margin: 10px 0 0 -20px;
      }
      .sectionabout__username2 {
        display: inline-block;
        margin: 23px 0 0 -15px;
        @include fontw($mainBoldFont, 14.5px, $light-black-transparensy-third, bold);
        .sectionabout__time {
          display: inline-block;
          margin: 15px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-third, normal); // CSS JAVACRIPT
        }
      }
      .sectionabout__comment2 {
        display: inline-block;
        margin: 0 0 0 10px;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
        line-height: 24px;
      }
    }
    .sectionabout__roomrules {
      margin: 30px 0 0 0;
      @include flexbox();
      justify-content: space-between;
      .sectionabout__roomrulestitle {
        margin: 0 0 0 20px;
        @include fontw($mainBoldFont, 19px, $light-black, bold);
      }
      .sectionabout__roomruleslist {
        margin: 20px 0 0 0;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
        line-height: 24px;
      }
      .sectionabout__roomrulescancel {
        @include fontw($mainBoldFont, 19px, $light-black, bold);
      }
      .sectionabout__cancel {
        margin: 20px 0 0 0;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
        line-height: 24px;
      }
    }
    .sectionabout__reservation {
      width: 380px;
      height: 500px;
      border: 1px solid $light-black-transparensy-onetenthtwo;
      @include box-shadow(0px, 0px, 25px, $almostblack);
      border-radius: 4px;
      padding: 41px 30px;
      .sectionabout__number {
        display: inline-block;
        margin: 0 125px 0 0;  // CSS JAVACRIPT
        @include fontw($mainBoldFont, $mainBigSize, $light-black, bold);
        .sectionabout__numberlux {
          @include font($mainRegularFont, $mainSmallSize, $lilac);
        }
      }
      .sectionabout__price {
        display: inline-block;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black-transparensy-half, bold);
        .sectionabout__pricetime {
          font-family: $mainRegularFont;
          font-weight: normal;  // CSS 
        }
      }
      .sectionabout__topinput {
        @include flexbox();
        justify-content: space-between;
        margin: 23px 0 0 0;
        .sectionabout__arrival {
          @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
          text-transform: uppercase;  
          .sectionabout__iarrival {
            @extend %verySmallInput;  // CSS JAVACRIPT
          }
        }
        .sectionabout__departure {
          @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
          text-transform: uppercase;  
          .sectionabout__ideparture {
            @extend %verySmallInput;  // CSS JAVACRIPT  
          }
        }
      }
      .sectionabout__guests {
        display: inline-block;
        margin: 20px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;  
        .sectionabout__iguests {
          @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-half);
          @extend %middleInput;
          margin: 6px 0 0 0;
          appearance: none;
          background: url("../../img/expand_more.png") 95% 50% no-repeat;  // CSS JAVACRIPT
        }
      }
      .sectionabout__dayscount {
        display: inline-block;
        margin: 20.5px 136px 0 0;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third); 
      }
      .sectionabout__pricedayscount {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third); // CSS JAVACRIPT
      }
      .sectionabout__services {
        display: inline-block;
        margin: 20.5px 8px 0 0;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third); 
      }
      .sectionabout__signprice1 {
        margin: 16px 40px 0 0;
      }
      .sectionabout__priceservices {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third); // CSS JAVACRIPT
      }
      .sectionabout__moreservices {
        display: inline-block;
        margin: 20.5px 8px 0 0;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
      }
      .sectionabout__signprice2 {
        margin: 18px 95px 0 0;
      }
      .sectionabout__morepriceservices {
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);  // CSS JAVACRIPT
      }
      .sectionabout__result {
        display: inline-block;
        margin: 48px 0 0 0;
        @include fontw($mainBoldFont, 19px, $light-black, bold);
      }
      .sectionabout__resultline {
        display: inline-block;
        border-bottom: 1px dashed $light-black-transparensy-fourth;
        width: 167px;
      }
      .sectionabout__priceresult {
        @include fontw($mainBoldFont, 19px, $light-black, bold);  // CSS JAVACRIPT
      }
      .sectionabout__book {
        @extend %middleButton;
        margin: 20px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $white-color, bold);
      }
    }
  }
}
