@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.sectionaboutimg {
  &__roomimage {
    @include flexbox();
  }
  .sectionaboutimg__roomimage3 {
    margin-top: -1px;
  }
}
.sectionabout {
  margin: 70px 0 0 0;

  &__flexbox {
    @include flexbox();
    justify-content: space-between;
    .sectionabout__inforoom {
      @include flexbox();
      justify-content: space-between;
      .sectionabout__info {
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: 19px;
        color: $light-black;
      }
      .sectionabout__comfort {
        display: inline-block;
        margin: 23px 0 0 10px;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__smile {
        display: inline-block;
        margin: 23px 0 0 0;
      }
      .sectionabout__walls {
        margin: -14px 0 0 53px;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__wallsline {
        margin: 25px 0 -15px 0;
        border-bottom: 1px dashed $light-black-transparensy-onetenth;
        background: $light-black-transparensy-onetenth;
        width: 280px;
      }
      .sectionabout__convenience {
        display: inline-block;
        margin: 41px 0 0 14px;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__locationcity {
        display: inline-block;
        margin: 41px 0 0 0;
      }
      .sectionabout__bedroom {
        margin: -14px 0 0 53px;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__bedroomline {
        margin: 25px 0 -15px 0;
        border-bottom: 1px dashed $light-black-transparensy-onetenth;
        background: $light-black-transparensy-onetenth;
        width: 280px;
      }
      .sectionabout__cosiness {
        display: inline-block;
        margin: 41px 0 0 14px;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__whatshot {
        display: inline-block;
        margin: 41px 0 0 0;
      }
      .sectionabout__fireplace {
        margin: -14px 0 0 53px;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__impression {
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: 19px;
        color: $light-black;
      }
      .sectionabout__voicesflex {
        display: flex;
        .sectionabout__voices {
          margin: 21px 0 0 0;
          font-family: $mainBoldFont;
          font-weight: bold;
          font-size: 24px;
          color: $lilac;
          border: 4px solid;
          border-radius: 50%;
          padding: 30px;
          text-align: center;
          .sectionabout__voicescolor {
            font-family: $mainRegularFont;
            font-size: $mainSmallSize;
            vertical-align: top;
          }
        }
        .sectionabout__list {
          margin: 50px 0 0 30px;
          .sectionabout__sumptuously {
            font-family: $mainRegularFont;
            font-size: $mainBigSize;
            color: $light-black-transparensy-third;
          }
          .sectionabout__well {
            margin: 10px 0 0 0;
            font-family: $mainRegularFont;
            font-size: $mainBigSize;
            color: $light-black-transparensy-third;
          }
          .sectionabout__satisfactorily {
            margin: 10px 0 0 0;
            font-family: $mainRegularFont;
            font-size: $mainBigSize;
            color: $light-black-transparensy-third;
          }
          .sectionabout__dissapointed {
            margin: 10px 0 0 0;
            font-family: $mainRegularFont;
            font-size: $mainBigSize;
            color: $light-black-transparensy-third;
          }
        }
      }
    }
    .sectionabout__revusers {
      margin: 30px 0 0 0;
      .sectionabout__reviews {
        display: inline-block;
        margin-right: 347px;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: 19px;
        color: $light-black;
      }
      .sectionabout__reviewscount {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-half;
      }
      .sectionabout__murad {
        display: inline-block;
        margin: 10px 0 0 -20px;
      }
      .sectionabout__username1 {
        display: inline-block;
        margin: 23px 0 0 -15px;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
        .sectionabout__time {
          display: inline-block;
          margin: 15px 0 0 0;
          font-family: $mainRegularFont;
          font-size: $mainBigSize;
          font-weight: normal;
          color: $light-black-transparensy-third;
        }
      }
      .sectionabout__comment1 {
        display: inline-block;
        margin: 0 0 0 10px;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        line-height: 24px;
        color: $light-black-transparensy-third;
      }

      .sectionabout__patricia {
        display: inline-block;
        margin: 10px 0 0 -20px;
      }
      .sectionabout__username2 {
        display: inline-block;
        margin: 23px 0 0 -15px;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: 14.5px;
        color: $light-black-transparensy-third;
        .sectionabout__time {
          display: inline-block;
          margin: 15px 0 0 0;
          font-family: $mainRegularFont;
          font-size: $mainBigSize;
          font-weight: normal;
          color: $light-black-transparensy-third;
        }
      }
      .sectionabout__comment2 {
        display: inline-block;
        margin: 0 0 0 10px;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        line-height: 24px;
        color: $light-black-transparensy-third;
      }
    }
    .sectionabout__roomrules {
      margin: 30px 0 0 0;
      @include flexbox();
      justify-content: space-between;
      .sectionabout__roomrulestitle {
        margin: 0 0 0 20px;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: 19px;
        color: $light-black;
      }
      .sectionabout__roomruleslist {
        margin: 20px 0 0 0;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        line-height: 24px;
        color: $light-black-transparensy-third;
      }
      .sectionabout__roomrulescancel {
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: 19px;
        color: $light-black;
      }
      .sectionabout__cancel {
        margin: 20px 0 0 0;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        line-height: 24px;
        color: $light-black-transparensy-third;
      }
    }
    .sectionabout__reservation {
      width: 380px;
      height: 500px;
      border: 1px solid $light-black-transparensy-onetenthtwo;
      box-shadow: 0px 0px 25px $almostblack;
      border-radius: 4px;
      padding: 41px 30px;
      .sectionabout__number {
        display: inline-block;
        margin: 0 125px 0 0;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: $mainBigSize;
        color: $light-black;
        .sectionabout__numberlux {
          font-family: $mainRegularFont;
          font-size: $mainSmallSize;
          color: $lilac;
        }
      }
      .sectionabout__price {
        display: inline-block;
        font-family: $mainBoldFont;
        font-weight: bold;
        font-size: $mainSmallSize;
        color: $light-black-transparensy-half;
        .sectionabout__pricetime {
          font-family: $mainRegularFont;
          font-weight: normal;
        }
      }
      .sectionabout__topinput {
        @include flexbox();
        justify-content: space-between;
        margin: 23px 0 0 0;
        .sectionabout__arrival {
          font-family: $mainBoldFont;
          color: $light-black;
          font-weight: bold;
          font-size: $mainSmallSize;
          text-transform: uppercase;
          .sectionabout__iarrival {
            font-family: $mainRegularFont;
            font-size: $mainBigSize;
            color: $light-black-transparensy-third;
            text-indent: 15px;
            text-transform: uppercase;
            display: block;
            border: 1px solid $light-black-transparensy-fourth;
            border-radius: 4px;
            width: 150px;
            height: 44px;
            margin: 6px 0 0 0;
            background: url("../../img/expand_more.png") 90% 50% no-repeat;
          }
        }
        .sectionabout__departure {
          font-family: $mainBoldFont;
          color: $light-black;
          font-weight: bold;
          font-size: $mainSmallSize;
          text-transform: uppercase;
          .sectionabout__ideparture {
            font-family: $mainRegularFont;
            font-size: $mainBigSize;
            color: $light-black-transparensy-third;
            text-indent: 15px;
            text-transform: uppercase;
            display: block;
            border: 1px solid $light-black-transparensy-fourth;
            border-radius: 4px;
            width: 150px;
            height: 44px;
            margin: 6px 0 0 0;
            background: url("../../img/expand_more.png") 90% 50% no-repeat;
          }
        }
      }
      .sectionabout__guests {
        display: inline-block;
        margin: 20px 0 0 0;
        font-family: $mainBoldFont;
        color: $light-black;
        font-weight: bold;
        font-size: $mainSmallSize;
        text-transform: uppercase;
        .sectionabout__iguests {
          font-family: $mainRegularFont;
          font-size: $mainBigSize;
          color: $light-black-transparensy-half;
          text-indent: 15px;
          display: block;
          border: 1px solid $light-black-transparensy-fourth;
          border-radius: 4px;
          width: 320px;
          height: 44px;
          margin: 6px 0 0 0;
          appearance: none;
          background: url("../../img/expand_more.png") 95% 50% no-repeat;
        }
      }
      .sectionabout__dayscount {
        display: inline-block;
        margin: 20.5px 136px 0 0;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__pricedayscount {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__services {
        display: inline-block;
        margin: 20.5px 8px 0 0;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__signprice1 {
        margin: 16px 40px 0 0;
      }
      .sectionabout__priceservices {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__moreservices {
        display: inline-block;
        margin: 20.5px 8px 0 0;
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__signprice2 {
        margin: 18px 95px 0 0;
      }
      .sectionabout__morepriceservices {
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
      .sectionabout__result {
        display: inline-block;
        margin: 48px 0 0 0;
        font-family: $mainBoldFont;
        color: $light-black;
        font-weight: bold;
        font-size: 19px;
      }
      .sectionabout__resultline {
        display: inline-block;
        border-bottom: 1px dashed $light-black-transparensy-fourth;
        width: 167px;
      }
      .sectionabout__priceresult {
        font-family: $mainBoldFont;
        color: $light-black;
        font-weight: bold;
        font-size: 19px;
      }
      .sectionabout__book {
        display: block;
        margin: 20px 0 0 0;
        padding: 14px 0 15px 0;
        width: 320px;
        height: 44px;
        background: url("../../img/arrow_forwardright.png") 95% 50% no-repeat,
          linear-gradient(180deg, $lilac 0%, $blue 100%);
        border-radius: 22px;
        font-family: $mainBoldFont;
        color: $white-color;
        font-weight: bold;
        font-size: $mainSmallSize;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
