@import "../utils/fonts.scss";
@import "../utils/vars.scss";
@import "../utils/reset.scss";
@import "../utils/mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
}

.container {
  /* max-width: $mw+px; margin: 0 auto;  width: 100%;*/
  /*@media(max-width: $md1+px) {max-width: 750px;}
   @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
}

.section {
  &__numbers {
    @include flexbox();
    .section__searchfilter {
      flex-basis: 50%;
      .section__darrival {
        display: block;
        margin: 30px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
        .section__idarrival {
          @extend %middleSelect;
          margin: 5px 0 0 0;  // CSS JAVACRIPT
        }
      }
      .section__guests {
        display: block;
        margin: 20.5px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
        .section__iguests {
          @extend %middleSelect;
          margin: 5px 0 0 0;  // CSS JAVACRIPT
        }
      }
      .section__rangePrice {
        display: block;
        margin: 30.5px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
        .section__irangePrice {
          display: block;
          margin: 23px 0 0 0;
          width: 282px;  // CSS JAVACRIPT
        }
        .section__irangePrisescount {
          margin: 0 0 0 42.5px;
          display: inline-block;
          @include fontw($mainRegularFont, $mainSmallSize, $light-black-transparensy-half, normal); // CSS JAVACRIPT
        }
        .section__irangePrices {
          display: block;
          margin: 13.5px 0 0 0;
          @include fontw($mainRegularFont, $mainSmallSize, $light-black-transparensy-half, normal);
          text-transform: initial;
        }
      }
      .section__homeRules {
        display: block;
        margin: 30px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize, $light-black, bold);
        text-transform: uppercase;
        .section__smoke {
          display: block;
          margin: 17px 0 0 0px;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__ismokes {
            display: inline-block;
            margin-left: 9.5px; 
          }
        }
        .section__pet {
          display: block;
          margin: 13px 0 0 0px;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__ipets {
            display: inline-block;
            margin-left: 9.5px;
          }
        }
        .section__invite {
          display: block;
          margin: 13px 0 0 0px;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__iinvite {
            vertical-align: top;
          }
          .section__iinvites {
            display: inline-block;
            margin-left: 9.5px;  // CSS JAVACRIPT
          }
        }
      }
      .section__availability {
        display: block;
        margin: 31.5px 0 0 0px;
        @include fontw($mainBoldFont, $mainSmallSize,  $light-black, bold);
        text-transform: uppercase;
        .section__hall {
          display: block;
          margin: 17px 0 0 0;
          @include fontw($mainBoldFont, $mainBigSize,  $light-black-transparensy-third, bold);
          text-transform: initial;
          .section__ihallm {
            display: inline-block;
            margin-left: 10px;
          }
          .section__ihalls {
            display: block;
            margin: 5px 0 0 23px;
            @include fontw($mainRegularFont, $mainSmallSize, $light-black-transparensy-half, normal);
            line-height: 14px;
          }
        }
        .section__invalid {
          display: block;
          margin: 11px 0 0 0;
          @include fontw($mainBoldFont, $mainBigSize,  $light-black-transparensy-third, bold);
          text-transform: initial;
          .section__iinvalidm {
            display: inline-block;
            margin-left: 10px;
          }
          .section__iinvalids {
            display: block;
            margin: 5px 0 0 23px;
            @include fontw($mainRegularFont, $mainSmallSize, $light-black-transparensy-half, normal);  // CSS JAVACRIPT
          }
        }
      }
      .section__comfort {
        display: block;
        margin: 30.5px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize,  $light-black, bold);
        text-transform: uppercase;
        .section__scomfort {
          margin: 5px 0 0 0;
          @extend %middleSelect;
          appearance: none;  // CSS JAVACRIPT
        }
      }
      .section__morecomfort {
        margin: 30px 0 0 0;
        @include fontw($mainBoldFont, $mainSmallSize,  $light-black, bold);
        text-transform: uppercase;
        background: url("../../img/expand_more.png") 40% 2% no-repeat;  // CSS JAVACRIPT
        .section__breakfast {
          display: block;
          margin: 18px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__ibreakfasts {
            @extend %moreComfortList;
          }
        }
        .section__writetable {
          display: block;
          margin: 12px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__iwritetables {
            @extend %moreComfortList;
          }
        }
        .section__chair {
          display: block;
          margin: 12px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__ichairs {
            @extend %moreComfortList;
          }
        }
        .section__bed {
          display: block;
          margin: 12px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__ibeds {
            @extend %moreComfortList;
          }
        }
        .section__tv {
          display: block;
          margin: 12px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__itvs {
            @extend %moreComfortList;
          }
        }
        .section__shampoo {
          display: block;
          margin: 12px 0 0 0;
          @include fontw($mainRegularFont, $mainBigSize, $light-black-transparensy-half, normal);
          text-transform: initial;
          .section__ishampoos {
            @extend %moreComfortList;  // CSS JAVACRIPT
          }
        }
      }
    }
  }

  &__cardnumbers {
    flex-basis: 130%;
    margin-top: 30px;
    .section__cardnumberstitle {
      @include fontw($mainBoldFont, 24px,  $light-black, bold);
      margin-bottom: 20px;
    }
    .section__gridcontainer {
      @include grid();
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      .section__cardhotel {
        height: 260px;
        width: 271px;
        @include box-shadow(0px, 10px, 20px, $light-black-transparensy-halfhalf);
        border-radius: 4px;
        position: relative;
        .section__numberphoto {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        .section__circlewhite {
          position: absolute;
          border-radius: 50%;
          top: 128.5px;
          left: 211.5px;
          border: 4px solid $white-color;
          background-color: $white-color;  
        }
        .section__circle1 {
          @extend %cicrcle;
          left: 225.5px;
        }
        .section__circle2 {
          @extend %cicrcle;
          left: 239.5px;
        }
        .section__circle3 {
          @extend %cicrcle;
          left: 252.5px;  // CSS JAVACRIPT
        }
        .section__number {
          display: inline-block;
          margin: 20px 0 12px 20px;
          @include fontw($mainBoldFont, $mainBigSize,  $light-black, bold); /*Quicksand!!!!!!!!!!!!*/
          .section__lux {
            display: inline-block;
            margin-right: 5px;
            margin-left: 8px;
            @include fontw($mainBoldFont, $mainSmallSize,  $lilac, bold);
            text-transform: uppercase;
          }
          .section__nolux {
            display: block;
            margin-right: 98px;
          }
        }
        .section__pricelux {
          display: inline-block;
          margin: 0 0 12px 25px;
          @include fontw($mainBoldFont, $mainBigSize,  $light-black-transparensy-half, bold);
          .section__day {
            font-family: $mainRegularFont;
            font-weight: normal;
            font-size: $mainSmallSize;
          }
        }
        .section__cardline {
          width: 230px;
          margin: 0 auto;
          height: 1px;
          background: $light-black-transparensy-onetenth;
        }
        .section__raiting {
          display: inline-block;
          margin: 8px 0 0 20.2px;  // CSS JAVACRIPT
        }
        .section__reviews {
          display: inline-block;
          margin: 8px 0 0 27px;
          @include fontw($mainBoldFont, $mainBigSize,  $light-black-transparensy-half, bold);
          vertical-align: bottom;
          .section__revs {
            font-family: $mainRegularFont;
            font-weight: normal;
          }
        }
      }
    }
    .section__list {
      margin: 40.5px 0 0 0;
      text-align: center;
      .section__page {
        @include font($mainRegularFont, $mainSmallSize, $light-black-transparensy-third);
        word-spacing: 25px;
        .section__onepage {
          display: inline-block;
          background: linear-gradient(180deg, $lilac 0%, $blue 100%);
          border-radius: 50%;
          padding: 15px 19px;
          @include fontw($mainBoldFont, 12px,  $white-color, bold);
        }
        .section__nextpagearrow {
          background: linear-gradient(180deg, $light-green 0%, $light-blue 100%);
          border-radius: 50%;
          padding: 13px 13px;  // CSS JAVACRIPT
        }
      }
      .section__legend {
        margin: 11px 0 0 0;
        @include font($mainRegularFont, $mainBigSize, $light-black-transparensy-third);
        font-family: $mainRegularFont;
        font-size: $mainBigSize;
        color: $light-black-transparensy-third;
      }
    }
  }
}
