@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('fonts/Montserrat-Bold.eot');
	src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin flexbox() {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}

$font-family: 'Conv_Montserrat-Regular', sans-serif;
$minwidth: 320px;
$mw: 1222;
/*$md1: $mw+12;
$md2: 750; 
$md3: 767.98;
$md4: 479.98;*/

/*Reset styles*/
*{padding:0;margin:0;border:0;}
 *,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
 :focus,:active{outline:none;}
 a:focus,a:active{outline:none;}
 nav,footer,header,aside{display:block;}
 html,body{font-family: $font-family; color: #000; position: relative; padding: 0; margin: 0; min-width: $minwidth; height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
 input,button,textarea{font-family:inherit;}
 input::-ms-clear{display:none;}
 button{cursor:pointer;}
 button::-moz-focus-inner{padding:0;border:0;}
 a,a:visited{text-decoration:none;}
 a:hover{text-decoration:none;}
 ul li{list-style:none;}
 img{vertical-align:top;}
 h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit; } 
/*******************************************************************************************************************/

.wrapper {
     width: 100%;
     min-height: 100%;
     overflow: hidden;
     @include flexbox();
     flex-direction: column;
}
 
 .container {
    max-width: $mw+px; margin: 0 auto;  width: 100%;
    /*@media(max-width: $md1+px) {max-width: 750px;}
    @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
 }

 .header {
  padding: 18px 0;

  &__main {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    @include flexbox();
  }

  &__menu .icon::before {
    content: "";
    background: url("images/expand_more.png") no-repeat;
    width: 17px;
    height: 17px;
    float: left;
    margin: 4px 22px -4px -22px;
  }

  &__menulink {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    color: rgba(31, 32, 65, 0.5);
    margin:  0 26px 0 0;
    font-size: 16.7px;
  }

  &__login {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #BC9CFF;
    font-size: 13.7px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #BC9CFF;
    border-radius: 22px;
    padding: 9px 20px 10px 20px;
    margin: 0 20px 0 0;
  }

  &__reg {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13.7px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 9px 20px 10px 20px;
  }
}

.main {
  background-image: url('images/image 3.png');
  height: 830px;
  position: relative;

  &__searchnumber {
    padding: 40px 30px 30px 30px;
    position: absolute;
    top: 201px;
    left: 187px;
    height: 394px;
    width: 400px;
    background-color: #ffffff;
  }

  &__title {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 21px;
  }

  &__topinput {
    @include flexbox();
    justify-content: space-between;
  }

  &__arrival {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 13.7px;
    text-transform: uppercase;
  }
  &__iarrival {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
    text-indent: 8px;
    text-transform: uppercase;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 160px;
    height: 44px;
    margin: 6px 0 0 0;
  }
  &__iarrival::-webkit-calendar-picker-indicator {
    background: url('images/expand_more.png') no-repeat;
    background-position: 0px 5px;
  }

  &__departure {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 13.7px;
    text-transform: uppercase;
  }

  &__ideparture {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
    text-indent: 8px;
    text-transform: uppercase;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 160px;
    height: 44px;
    margin: 6px 0 0 0;  
  }
  &__ideparture::-webkit-calendar-picker-indicator {
    background: url('images/expand_more.png') no-repeat;
    background-position: 0px 5px;
  }
    
  &__guestcount {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 13.7px;
    text-transform: uppercase;
    display: block;
    margin: 20px 0 0 0;
  }

  &__sguestcount {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 16.7px;
    color: rgba(31, 32, 65, 0.5);
    text-indent: 6px;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 340px;
    height: 44px;
    margin: 6px 0 0 0;
    appearance: none;
    background: url('images/expand_more.png') no-repeat right;
    background-position: 305px;
  }

  &__searchbutton {
    display: block;
    margin: 31px 0 0 0;
    padding: 14px 0 15px 0;
    width: 340px;
    height: 44px;
    background:  url('images/arrow_forwardright.png') 95% 50% no-repeat, 
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 13.7px;
    text-transform: uppercase;
    text-align: center;
  }

  &__legend {
    position: absolute;
    top: 764px;
    left: 1056px;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 16.7px;
    text-indent: -40px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
  }
}

.footer {
  margin-top: 106px;

  &__topinfo {
    @include flexbox();
  }
  &__column1 {
    margin-right: 50px;
  }
  &__column2 {
    margin-right: 57px;
  }
  &__column3 {
   margin-right: 95px;
  }
  &__column4 {
    margin-right: 70px;
  }
  &__column5 {
  margin-right: 0;
  }

  &__text {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 16.7px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
    margin: 20px 0 0 0;
  }

  &__logolist {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-size: 13.7px;
    font-weight: bold;
    color: #1F2041;
    text-transform: uppercase;
  }

  &__menulink {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 16.7px;
    color: rgba(31, 32, 65, 0.5);
    line-height: 17px;
    display: inline-block;
    margin: 25px 0 0 0;
  }

  &__send {
    position: relative;
    height: 100px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6px;
      margin: auto 0;
      width: 25px;
      height: 25px;
      background: url('images/arrow_forward.png') no-repeat;
      background-size: cover;
    }
  }
  &__e-mail {
    margin: 26px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 270px;
    height: 46px;
    text-indent: 15px;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 16.7px;
    color: rgba(31, 32, 65, 0.25); /****/
  }

  &__bottominfo {
    margin: 105px 0 0 0;
    @include flexbox();
    justify-content: space-between;
    height: 70px;
    padding-top: 26px;
  }

  &__copyright {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 16.3px;
    color: rgba(31, 32, 65, 0.75);
    text-indent: -3px;
   
  }

  &__iconlink {
    margin: 0 0 0 20px;
  }
}







   
