@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin flexbox() {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}

$font-family: 'Conv_Montserrat-Regular', sans-serif;
$minwidth: 320px;
$mw: 1222;
/*$md1: $mw+12;
$md2: 750; 
$md3: 767.98;
$md4: 479.98;*/

/*Reset styles*/
*{padding:0;margin:0;border:0;}
 *,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
 :focus,:active{outline:none;}
 a:focus,a:active{outline:none;}
 nav,footer,header,aside{display:block;}
 html,body{font-family: $font-family; color: #000; position: relative; padding: 0; margin: 0; min-width: $minwidth; height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
 input,button,textarea{font-family:inherit;}
 input::-ms-clear{display:none;}
 button{cursor:pointer;}
 button::-moz-focus-inner{padding:0;border:0;}
 a,a:visited{text-decoration:none;}
 a:hover{text-decoration:none;}
 ul li{list-style:none;}
 img{vertical-align:top;}
 h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit; } 
/*******************************************************************************************************************/

.wrapper {
     width: 100%;
     min-height: 100%;
     overflow: hidden;
     @include flexbox();
     flex-direction: column;
}
 
 .container {
    max-width: $mw+px; margin: 0 auto;  width: 100%;
    /*@media(max-width: $md1+px) {max-width: 750px;}
    @media(max-width: $md2+px) {max-width: none; padding: 0 10px;} */
 }

 .header {
  padding: 18px 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__main {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    @include flexbox();
  }

  &__menu .icon::before {
    content: "";
    background: url("images/expand_more.png") no-repeat;
    width: 17px;
    height: 17px;
    float: left;
    margin: 4px 22px -4px -22px;
  }

  &__menulink {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    color: rgba(31, 32, 65, 0.5);
    margin:  0 26px 0 0;
    font-size: 14.5px;
  }

  &__login {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #BC9CFF;
    font-size: 13.7px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #BC9CFF;
    border-radius: 22px;
    padding: 9px 20px 10px 20px;
    margin: 0 20px 0 0;
  }

  &__reg {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 9px 20px 10px 20px;
  }
}

.main {
  background-image: url('images/image 3.png');
  height: 830px;
  position: relative;

  &__searchnumber {
    padding: 40px 30px 30px 30px;
    position: absolute;
    top: 201px;
    left: 187px;
    height: 394px;
    width: 400px;
    background-color: #ffffff;
  }

  &__title {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 25.5px;
    margin-bottom: 21px;
  }

  &__topinput {
    @include flexbox();
    justify-content: space-between;
  }

  &__arrival {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
  }
  &__iarrival {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
    text-indent: 8px;
    text-transform: uppercase;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 160px;
    height: 44px;
    margin: 6px 0 0 0;
    background: url('images/expand_more.png') 90% 50% no-repeat;
  }

  &__departure {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
  }

  &__ideparture {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
    text-indent: 8px;
    text-transform: uppercase;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 160px;
    height: 44px;
    margin: 6px 0 0 0;  
  }
  &__ideparture::-webkit-calendar-picker-indicator {
    background: url('images/expand_more.png') no-repeat;
    background-position: 0px 5px;
  }
    
  &__guestcount {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    display: block;
    margin: 20px 0 0 0;
  }

  &__sguestcount {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.5);
    text-indent: 6px;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 340px;
    height: 44px;
    margin: 6px 0 0 0;
    appearance: none;
    background: url('images/expand_more.png') no-repeat right;
    background-position: 305px;
  }

  &__searchbutton {
    display: block;
    margin: 31px 0 0 0;
    padding: 14px 0 15px 0;
    width: 340px;
    height: 44px;
    background:  url('images/arrow_forwardright.png') 95% 50% no-repeat, 
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    text-align: center;
  }

  &__legend {
    position: absolute;
    top: 764px;
    left: 1056px;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    text-indent: -40px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
  }
}

.footer {
  margin-top: 106px;

  &__topinfo {
    @include flexbox();
  }
  &__column1 {
    margin-right: 50px;
  }
  &__column2 {
    margin-right: 57px;
  }
  &__column3 {
   margin-right: 95px;
  }
  &__column4 {
    margin-right: 70px;
  }
  &__column5 {
  margin-right: 0;
  }

  &__text {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
    margin: 20px 0 0 0;
  }

  &__logolist {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-size: 12.7px;
    font-weight: bold;
    color: #1F2041;
    text-transform: uppercase;
  }

  &__menulink {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.5);
    line-height: 17px;
    display: inline-block;
    margin: 25px 0 0 0;
  }

  &__send {
    position: relative;
    height: 100px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6px;
      margin: auto 0;
      width: 25px;
      height: 25px;
      background: url('images/arrow_forward.png') no-repeat;
      background-size: cover;
    }
  }
  &__e-mail {
    margin: 26px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 270px;
    height: 46px;
    text-indent: 15px;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25); /****/
  }

  &__bottominfo {
    margin: 105px 0 0 0;
    @include flexbox();
    justify-content: space-between;
    height: 70px;
    padding-top: 26px;
  }

  &__copyright {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.7px;
    color: rgba(31, 32, 65, 0.75);
    text-indent: -3px;
   
  }

  &__iconlink {
    margin: 0 0 0 20px;
  }
}
/************************************SearchRoomFilter*********************************************/

.section {

  // .section__numbers

  &__numbers {
    @include flexbox();
  }

  // .section__searchfilter

  &__searchfilter {
    flex-basis: 50%;
  }

  &__darrival {
    display: block;
    margin: 30px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    color: #1F2041;
  }

  &__idarrival {
    display: block;
    margin: 5px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 266px;
    height: 44px;
    text-indent: 10px;
    background: url('images/expand_more.png') 94% 50% no-repeat;
  }

  &__guests {
    display: block;
    margin: 20.5px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    color: #1F2041;
  }

  &__iguests {
    display: block;
    margin: 5px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 266px;
    height: 44px;
    text-indent: 10px;
    background: url('images/expand_more.png') 94% 50% no-repeat;
  
  }

  &__rangePrice {
    display: block;
    margin: 30.5px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    color: #1F2041;
  }

  &__irangePrice {
    display: block;
    margin: 23px 0 0 0;
    width: 282px;
  }

  &__irangePrisescount {
    margin: 0 0 0 42.5px;
    display: inline-block;
    font-family: 'Conv_Montserrat-Regular';
    font-weight: normal;
    font-size: 12.7px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__irangePrices {
    display: block;
    margin: 13.5px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-weight: normal;
    font-size: 12.7px;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }

  // .section__homeRules

  &__homeRules {
    display: block;
    margin: 30px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    color: #1F2041;
  }

  // .section__smoke

  &__smoke {
    display: block;
    margin: 17px 0 0 0px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }
  

  // .section__ismoke

  &__ismoke {
  }

  &__ismokes {
    display: inline-block;
    margin-left: 9.5px;
  }

  // .section__pet

  &__pet {
    display: block;
    margin: 13px 0 0 0px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
    
  }

  // .section__ipet

  &__ipet {
  }

  &__ipets {
    display: inline-block;
    margin-left: 9.5px;
  }

  // .section__invite

  &__invite {
    display: block;
    margin: 13px 0 0 0px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
    
  }

  // .section__iinvite

  &__iinvite {
    vertical-align: top;
  }

  &__iinvites {
    display: inline-block;
    margin-left: 9.5px;
  }

  // .section__availability

  &__availability {
    display: block;
    margin: 31.5px 0 0 0px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    color: #1F2041;
  }

  // .section__hall

  &__hall {
    display: block;
    margin: 17px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-size: 14.5px;
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
    text-transform: initial;
  }

  // .section__ihall

  &__ihall {
  }

  &__ihallm {
    display: inline-block;
    margin-left: 10px;
  }

  &__ihalls {
    display: block;
    margin: 5px 0 0 23px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 12.7px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    line-height: 14px;
  }

  // .section__invalid

  &__invalid {
    display: block;
    margin: 11px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-size: 14.5px;
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
    text-transform: initial;
  }

  &__iinvalidm {
    display: inline-block;
    margin-left: 10px;
  }

  // .section__iinvalid

  &__iinvalid {
  }
  &__iinvalids {
    display: block;
    margin: 5px 0 0 23px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 12.7px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);

  }

  // .section__comfort

  &__comfort {
    display: block;
    margin: 30.5px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    color: #1F2041;
  }

  // .section__scomfort

  &__scomfort {
    display: block;
    margin: 5px 0 0 0;
    margin: 5px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 266px;
    height: 44px;
    text-indent: 10px;
    appearance: none;
    background: url('images/expand_more.png') 94% 50% no-repeat;
  }

  // .section__morecomfort

  &__morecomfort {
    margin: 30px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    color: #1F2041;
    background: url('images/expand_more.png') 40% 2% no-repeat;
  }

  // .section__breakfast

  &__breakfast {
    display: block;
    margin: 18px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }

  // .section__ibreakfast

  &__ibreakfast {
    
  }

  &__ibreakfasts {
    display: inline-block;
    margin-left: 10px;
  }

  // .section__wtitetable

  &__writetable {
    display: block;
    margin: 12px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }

  // .section__iwtitetable

  &__iwritetable {
  }

  &__iwritetables {
    display: inline-block;
    margin-left: 10px;
  }

  // .section__chair

  &__chair {
    display: block;
    margin: 12px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }

  // .section__ichair

  &__ichair {
  }

  &__ichairs {
    display: inline-block;
    margin-left: 10px;
  }

  // .section__bed

  &__bed {
    display: block;
    margin: 12px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }

  // .section__ibed

  &__ibed {
  }

  &__ibeds {
    display: inline-block;
    margin-left: 10px;
  }

  // .section__tv

  &__tv {
    display: block;
    margin: 12px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }

  // .section__itv

  &__itv {
  }

  &__itvs {
    display: inline-block;
    margin-left: 10px;
  }

  // .section__shampoo

  &__shampoo {
    display: block;
    margin: 12px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    text-transform: initial;
  }

  // .section__ishampoo

  &__ishampoo {
  }

  &__ishampoos {
    display: inline-block;
    margin-left: 10px;
  }

  // .section__cardnumbers

  &__cardnumbers {
    flex-basis: 130%;
    margin-top: 30px;
  }

  // .section__cardnumberstitle

  &__cardnumberstitle {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1F2041;
    margin-bottom: 20px;
  }

  // .section__gridcontainer

  &__gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    
  }

  // .section__cardhotel

  &__cardhotel {
    height: 260px;
    width: 271px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    position: relative;
  }

  // .section__numberphoto

  &__numberphoto {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__circlewhite {
    position: absolute;
    border-radius: 50%;
    top: 128.5px;
    left: 211.5px;
    border: 4px solid #fff;
    background-color: #fff;
  }

  &__circle1 {
    position: absolute;
    border-radius: 50%;
    top: 128.5px;
    left: 225.5px;
    border: 1px solid #fff;
    width: 8px;
    height: 7.5px;
    background-color: transparent;
  }

  &__circle2 {
    position: absolute;
    border-radius: 50%;
    top: 128.5px;
    left: 239.5px;
    border: 1px solid #fff;
    width: 8px;
    height: 7.5px;
    background-color: transparent;
  }

  &__circle3 {
    position: absolute;
    border-radius: 50%;
    top: 128.5px;
    left: 252.5px;
    border: 1px solid #fff;
    width: 8px;
    height: 7.5px;
    background-color: transparent;
    
  }

  // .section__number

  &__number {
    display: inline-block;
    margin: 20px 0 12px 20px;
    font-family: 'Conv_Montserrat-Bold', sans-serif; /*Quicksand!!!!!!!!!!!!*/
    font-weight: bold;
    font-size: 14.5px;
    color: #1F2041;
  }


  &__lux {
    display: inline-block;
    margin-left: 8px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    color: #BC9CFF;
    text-transform: uppercase;
  }

  // .section__price

  &__price {
    display: inline-block;
    margin: 0 0 12px 75px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__pricelux {
    display: inline-block;
    margin: 0 0 12px 25px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__day {
    font-family: 'Conv_Montserrat-Regular';
    font-weight: normal;
    font-size: 12.7px;
  }

  // .section__raiting

  &__raiting {
    display: inline-block;
    margin: 8px 0 0 20.20px;
  }

  // .section__reviews

  &__reviews {
    display: inline-block;
    margin: 8px 0 0 20px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.5);
    vertical-align: bottom;
  }

  &__cardline {
    width: 230px;
    margin: 0 auto;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
  }

  &__revs {
    font-family: 'Conv_Montserrat-Regular';
    font-weight: normal;
  }

  // .section__list

  &__list {
    margin: 40.5px 0 0 0;
    text-align: center;
  
  }

  // .section__page

  &__page {
    font-family: 'Conv_Montserrat-Regular';
    font-size: 12.7px;
    color: rgba(31, 32, 65, 0.5);
    word-spacing: 25px;
  }

  &__onepage {
    display: inline-block;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50%;
    padding: 15px 19px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
  }

  &__nextpagearrow {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    padding: 13px 13px;
  }

  // .section__legend

  &__legend {
    margin: 11px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }
}

/*************************************************RoomDetails**************************************/

.sectionaboutimg {

  &__roomimage {
    @include flexbox();
  }

  &__roomimagecolumn {
  }

  &__roomimage3 {
    margin-top: -1px;
  }
}
.sectionabout {
  margin: 70px 0 0 0;

  // .sectionabout__inforoom

  &__flexbox {
    @include flexbox();
    justify-content: space-between;
  }

  &__inforoom {
    @include flexbox();
    justify-content: space-between;
  }

  // .sectionabout__inforoomcolumn

  &__inforoomcolumn {
    
  }

  // .sectionabout__info

  &__info {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
  }

  // .sectionabout__comfort

  &__comfort {
    display: inline-block;
    margin: 23px 0 0 10px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__smile {
    display: inline-block;
    margin: 23px 0 0 0;
  }

  // .sectionabout__walls

  &__walls {
    margin: -14px 0 0 53px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__wallsline {
    margin: 25px 0 -15px 0;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.1);
    background: rgba(31, 32, 65, 0.1);
    width: 280px;

  }

  // .sectionabout__convenience

  &__convenience {
    display: inline-block;
    margin: 41px 0 0 14px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__locationcity {
    display: inline-block;
    margin: 41px 0 0 0;
  }

  // .sectionabout__bedroom

  &__bedroom {
    margin: -14px 0 0 53px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__bedroomline {
    margin: 25px 0 -15px 0;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.1);
    background: rgba(31, 32, 65, 0.1);
    width: 280px;
  }
  // .sectionabout__cosiness

  &__cosiness {
    display: inline-block;
    margin: 41px 0 0 14px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__whatshot {
    display: inline-block;
    margin: 41px 0 0 0;

  }

  // .sectionabout__fireplace

  &__fireplace {
    margin: -14px 0 0 53px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__impression

  &__impression {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
  }

  // .sectionabout__voices

  &__voicesflex {
    display: flex;
  }

  &__voices {
    margin: 21px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #BC9CFF;
    border: 4px solid;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
  }

  &__voicescolor {
    font-family: 'Conv_Montserrat-Regular';
    font-size: 12.7px;
    vertical-align: top;
  }

  // .sectionabout__list

  &__list {
    margin: 50px 0 0 30px;
  }

  // .sectionabout__sumptuously

  &__sumptuously {
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__well

  &__well {
    margin: 10px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__satisfactorily

  &__satisfactorily {
    margin: 10px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__dissapointed

  &__dissapointed {
    margin: 10px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__revusers

  &__revusers {
    margin: 30px 0 0 0;

  }

  // .sectionabout__reviews

  &__reviews {
    display: inline-block;
    margin-right: 347px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
  }

  &__murad {
    display: inline-block;
    margin: 10px 0 0 -20px;
  }

  &__patricia {
    display: inline-block;
    margin: 10px 0 0 -20px;
  }

  // .sectionabout__reviewscount

  &__reviewscount {
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.5);
  }

  // .sectionabout__username1

  &__username1 {
    display: inline-block;
    margin: 23px 0 0 -15px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__time {
    display: inline-block;
    margin: 15px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__comment1

  &__comment1 {
    display: inline-block;
    margin: 0 0 0 10px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__username2

  &__username2 {
    display: inline-block;
    margin: 23px 0 0 -15px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__comment2

  &__comment2 {
    display: inline-block;
    margin: 0 0 0 10px;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__roomrules

  &__roomrules {
    margin: 30px 0 0 0;
    @include flexbox();
    justify-content: space-between;
  }

  // .sectionabout__roomrulescolumns

  &__roomrulescolumns {
    
  }

  &__roomrulestitle {
    margin: 0 0 0 20px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;

  }

  // .sectionabout__roomruleslist

  &__roomruleslist {
    margin: 20px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__pet

  &__pet {
  }

  // .sectionabout__party

  &__party {
  }

  // .sectionabout__time

  &__timearr {
  }

  &__roomrulescancel {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
  }

  // .sectionabout__cancel

  &__cancel {
    margin: 20px 0 0 0;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 14.5px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__reservation

  &__reservation {
    width: 380px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 41px 30px;
  }

  // .sectionabout__number

  &__number {
    display: inline-block;
    margin: 0 125px 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
    color: #1F2041;
  }

  // .sectionabout__numberlux

  &__numberlux {
    font-family: 'Conv_Montserrat-Regular';
    font-size: 12.7px;
    color: #BC9CFF;
  }

  &__price {
    display: inline-block;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 12.7px;
    color: rgba(31, 32, 65, 0.5);

  }

  &__pricetime {
    font-family: 'Conv_Montserrat-Regular';
    font-weight: normal;
  }

  // .sectionabout__titlearr

  &__titlearr {
  }

  // .sectionabout__makeareservation

  &__makeareservation {
  }

  &__topinput {
    @include flexbox();
    justify-content: space-between;
    margin: 23px 0 0 0;
  }

  // .sectionabout__arrival

  &__arrival {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
  }

  // .sectionabout__iarrival

  &__iarrival {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
    text-indent: 15px;
    text-transform: uppercase;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 150px;
    height: 44px;
    margin: 6px 0 0 0;
    background: url('images/expand_more.png') 90% 50% no-repeat;
  }

  // .sectionabout__departure

  &__departure {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
  }

  // .sectionabout__ideparture

  &__ideparture {
      font-family: 'Conv_Montserrat-Regular', sans-serif;
      font-size: 14.5px;
      color: rgba(31, 32, 65, 0.75);
      text-indent: 15px;
      text-transform: uppercase;
      display: block;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
      width: 150px;
      height: 44px;
      margin: 6px 0 0 0;
      background: url('images/expand_more.png') 90% 50% no-repeat;
  }

  // .sectionabout__guests

  &__guests {
    display: inline-block;
    margin: 20px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
  }

  // .sectionabout__iguests

  &__iguests {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.5);
    text-indent: 15px;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
    margin: 6px 0 0 0;
    appearance: none;
    background: url('images/expand_more.png') 95% 50% no-repeat;
  }

  // .sectionabout__dayscount

  &__dayscount {
    display: inline-block;
    margin: 20.5px 136px 0 0;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__pricedayscount

  &__pricedayscount {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__services

  &__services {
    display: inline-block;
    margin: 20.5px 8px 0 0;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__signprice1 {
    margin: 16px 40px 0 0;
  }

  // .sectionabout__priceservices

  &__priceservices {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__moreservices

  &__moreservices {
    display: inline-block;
    margin: 20.5px 8px 0 0;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__signprice2 {
    margin: 18px 95px 0 0;
  }

  // .sectionabout__morepriceservices

  &__morepriceservices {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionabout__result

  &__result {
    display: inline-block;
    margin: 48px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 19px;
  }

  &__resultline {
    display: inline-block;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
    width: 167px;
  }

  // .sectionabout__priceresult

  &__priceresult {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 19px;
  }

  // .sectionabout__book

  &__book {
    display: block;
    margin: 20px 0 0 0;
    padding: 14px 0 15px 0;
    width: 320px;
    height: 44px;
    background:  url('images/arrow_forwardright.png') 95% 50% no-repeat, 
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    text-align: center;
  }
}

/************************************************login*********************************************/

.sectionlogin {
  background: url('images/loginreg.png');
  height: 770px;
  position: relative;

  &__loginform {
    width: 380px;
    height: 358px;
    padding: 40px 30px;
    background-color: #ffffff;
    position: absolute;
    left: 530px;
    top: 230px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  // .sectionlogin__logintitle

  &__logintitle {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 24px;
  }

  // .sectionlogin__usertitle

  &__usertitle {
  }

  // .sectionlogin__iusertitle

  &__iusertitle {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25);
    text-indent: 15px;
    display: block;
    margin: 20px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
  }

  // .sectionlogin__pass

  &__pass {
  }

  // .sectionlogin__ipass

  &__ipass {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25);
    text-indent: 15px;
    display: block;
    margin: 10px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
  }

  // .sectionlogin__signin

  &__signin {
    display: block;
    margin: 20px 0 0 0;
    padding: 14px 0 15px 0;
    width: 320px;
    height: 44px;
    background:  url('images/arrow_forwardright.png') 95% 50% no-repeat, 
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    text-align: center;
  }

  // .sectionlogin__noaccaunt

  &__noaccaunt {
    display: inline-block;
    margin: 0 47px 0 0;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: #000000;
  }

  // .sectionlogin__create

  &__create {
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 13px 0 15px 0;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #BC9CFF;
    background: #ffffff;
    border: 2px solid #BC9CFF;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    text-align: center;
  }
}


/********************************************registration******************************************/

.sectionregistration {
  background: url('images/loginreg.png');
  height: 770px;
  position: relative;

  // .sectionregistration__registrationform

  &__registrationform {
    width: 380px;
    height: 646px;
    padding: 40px 30px;
    background-color: #ffffff;
    position: absolute;
    left: 530px;
    top: 19px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  // .sectionregistration__registrationtitle

  &__registrationtitle {
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 24px;
  }

  // .sectionregistration__name

  &__name {
  }

  // .sectionregistration__iname

  &__iname {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25);
    text-indent: 15px;
    display: block;
    margin: 20px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
  }

  // .sectionregistration__surname

  &__surname {
  }

  // .sectionregistration__isurname

  &__isurname {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25);
    text-indent: 15px;
    display: block;
    margin: 20px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
  }

  // .sectionregistration__malefemale

  &__imale {
    display: inline-block;
    margin: 10.5px 0 0 0;
  }

  &__smale {
    display: inline-block;
    margin: 0 20px 0 14px;
  }

  &__ifemale {
  }

  &__sfemale {
    display: inline-block;
    margin: 0 0 0 14px;
  }

  // .sectionregistration__birth

  &__birth {
    display: block;
    margin: 19.5px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
  }

  // .sectionregistration__ibirth

  &__ibirth {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25);
    text-indent: 15px;
    display: block;
    margin: 5px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
  }

  // .sectionregistration__mail

  &__mail {
    display: block;
    margin: 20px 0 0 0;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
  }

  // .sectionregistration__imail

  &__imail {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25);
    text-indent: 15px;
    display: block;
    margin: 5px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
  }

  // .sectionregistration__passlog

  &__passlog {
  }

  // .sectionregistration__ipasslog

  &__ipasslog {
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.25);
    text-indent: 15px;
    display: block;
    margin: 10px 0 0 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
  }

  // .sectionregistration__slider

  &__slider {
    display: inline-block;
    margin: 10px 10px 0 0;
  }

  // .sectionregistration__specialoffers

  &__specialoffers {
    display: inline-block;
    margin: 13px 0 0 0;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: rgba(31, 32, 65, 0.75);
  }

  // .sectionregistration__registrlog

  &__registrlog {
    display: block;
    margin: 20px 0 0 0;
    padding: 14px 0 15px 0;
    width: 320px;
    height: 44px;
    background:  url('images/arrow_forwardright.png') 95% 50% no-repeat, 
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    text-align: center;
  }

  // .sectionregistration__haceanaccount

  &__haceanaccount {
    display: inline-block;
    margin: 0 22px 0 0;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 14.5px;
    color: #000000;
  }

  // .sectionregistration__signinreg

  &__signinreg {
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 13px 0 15px 0;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    font-family: 'Conv_Montserrat-Bold', sans-serif;
    color: #BC9CFF;
    background: #ffffff;
    border: 2px solid #BC9CFF;
    font-weight: bold;
    font-size: 12.7px;
    text-transform: uppercase;
    text-align: center;
  }
}
/************************************************UIkit*********************************************/










   
